body{
    
    margin: 0px;
    font-family: sans-serif;
}

#contact-list-container ul{
padding:0px;
list-style: none;
}
.contact{
    padding: 3px,10px;
    border:1px solid #f8f9f9;
    background-color: #60dff8;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: white;
    display: flex;
}
.contact .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}
.contact .delete-button{
width: 10%;
padding: 3px;
text-align: center;
margin-top:5px;

}
.contact .delete-button a{
    color: white;
    background-color: red;
} 
.contact p{
    margin: 5px 0px;
}
